<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Custom CSS */

.awls-item {
  display: none;
}

.page-title {
    position: relative;
    margin-bottom: 2rem;
    text-transform: none;
    padding-bottom: 0;
   	border: none;
}

.item-overlay {
background-color: transparent;
}

.mCSB_container {
 padding:10px !important;
}

.post p, .post ul.list li {
  font-size: 1rem;
}

/* Header Section */

.headerLogo, .headerNameSection {
    display: block;
    float: left;
padding-left:0;
}

.headerNameSection {
    padding: 1.8rem 0;
    width: 78%;
    margin-left: 20px;
}

.headerName {
  	margin:0;
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 500;
    line-height:2.4rem;
    font-family:  Tahoma  !important;
}


.header.type-3 .header-middle {
  background-color: #10537D;
  
 /* background: #557799;  
  background: -moz-linear-gradient(-45deg, #557799 0%, #557799 50%, #a8bccc 100%);  
  background: -webkit-linear-gradient(-45deg, #557799 0%,#557799 50%,#a8bccc 100%);  
  background: linear-gradient(135deg, #557799 0%,#557799 50%,#a8bccc 100%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557799', endColorstr='#a8bccc',GradientType=1 );
  */
}


#responsive-nav-button {
    font-family: "fontello" !important;
}

/* End of Header Section */

/*Recent posts widget*/
.rpwwt-widget ul li {
    border-bottom: 1px solid #777;
    padding-bottom: 15px;
}

.rpwwt-widget ul li > a{
    font-size: 16px;
      display: block;
    line-height: 110%;
  margin-bottom:10px;
}

.rpwwt-widget ul li > .rpwwt-post-categories{
    font-style: italic;
}

.rpwwt-widget ul li > .rpwwt-post-excerpt {
    line-height: 110%;
  margin-top:10px;
}

/*Home Page Partner*/
.ult-banner-block .title-center {
    height: 70px;
}

.back-white {
background-color: #fff;
}

/*Contact form*/
.contact_form label {
font-weight: normal !important;
}

.contact_form button {
  border: 1px solid #10537D !important;
    background-color: #10537D !important;
    color: #fff !important;
}

.contact_form button:hover {
  border: 1px solid #10537D !important;
    background-color: #eee !important;
    color: #10537D !important;
}


.event a.image-post {
    float: left;
    width: 50%;
    margin-right: 15px;
}

 /*Event*/
.tribe-events-page-title {
color:#777;
}

.tribe-events-list-separator-month span {
background-color:#f5f5f5;
  color:#777;
}

.tribe-events-list-widget .tribe-events-list-widget-events,
.tribe-events-list-widget .tribe-events-list-widget-events h4{
padding:0;
}

.tribe-events-list-widget .tribe-events-list-widget-events .tribe-events-featured-image {
padding-left:0;
}

@media (max-width: 1146px) {
.headerName {
    font-size: 19px;
}
  .headerNameSection {
    width: 70%;
    padding: 15px;
    margin-left: 0;
}
  .headerName {
        line-height: 2.2rem;
  }
}



@media (max-width: 768px) {
  .headerNameSection {
    width: 100%;

}
    .headerLogo 
    {
        float: none;
        text-align: center;
        display: block !important;
    }
    
    .headerLogo > .logo {
        max-width: 100% !important;
    }
    .headerName {
    text-align: center;
}
}</style>
<!-- end Simple Custom CSS and JS -->
